body {
	background-image: url(../Storage/img/background2.jpg);
	font-family:arial;
}

h1 {
	text-align:center;
	color:#5C6F27;
}

p {
	color:#456832;
}

div.FG {
	display:flex;
	background-color:blue;
	width:1000px;
	padding:0px;
	margin: auto;
	margin-top:80px;
	top:300px;
}

div.FG2 {
	background-color:#D6D694;
	border:black 1px solid;
	width:700px;
	margin-left:0px;  /*Controls the blue border */
	margin-right:0px;  /*Controls the blue border */
}

div.sidebar {
	background-color:#6B8431;
	width: 300px;
	margin :0;
	float:right;
	right:0px;
	top:0px;
	border:white 3px solid;

}

div.body {
	border:black 3px solid;
	width:690px;
}

nav.Fnav ul li {
	background-color:#999;
	border:black 1px solid;
	list-style-type:none;
	text-align:center;
	position: fixed;
	top:0px;
	left:0px;
	padding:3px;
}

div.headerimg {
	background-image: url(../Storage/img/wcp_banner.png);
	width:660px;
	height:269px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

.sidebar ul.main{
	text-align:center;
	list-style-type:none;
	padding:0;
	margin:0;
	width:300px;
}

.sidebar ul.main li a{
	color:white;
	text-decoration:none;
}


.link-ext {
	background-color:rgba(0, 0, 0, 0.5);
	margin:0;
	padding:0;
	width:300px;
	text-decoration:none;
	list-style-type:none;
}

.link-ext ul{
	text-align:left;
}

ul.link-ext li{
	font-size:13px;
}